body {
  background: #893168;
}
.container.main {
  font-family: "Roboto Mono", monospace;
  background: #bbabf892;
  border: 8px groove rgba(127, 84, 129, 0.6);
  border-radius: 76px;
  padding: 30px;
  margin: 50px 50px 5px 50px;
}
.city-info {
  list-style-type: none;
  text-align: right;
}
.weather-properties {
  list-style-type: none;
  text-align: start;
  padding-top: 25px;
}
.temperature-units {
  padding-top: 25px;
}
.temperature {
  font-size: 30px;
  font-weight: bold;
}
.units {
  font-size: 26px;
  font-weight: bold;
}
.max {
  font-weight: bold;
}
.creator {
  padding-left: 50px;
}
#button {
  border-radius: 50px;
  border-color: #a386b2;
  background-color: #a386b2;
}
#button:hover {
  background-color: #716580;
}
#city-input {
  border-radius: 50px;
}
#city {
  color: rgb(0, 0, 0);
  font-size: 38px;
  font-weight: 500;
}
#city-icon {
  vertical-align: top;
  width: 120px;
}
#description {
  text-transform: capitalize;
}
#celsius-link.active,
#fahrenheit-link.active {
  cursor: default;
}
#celsius-link.active:hover,
#fahrenheit-link.active:hover {
  color: #690a77;
}

#celsius-link,
#fahrenheit-link,
#source-code {
  color: #680747;
  text-decoration: none;
}
#celsius-link:hover,
#fahrenheit-link:hover,
#source-code:hover {
  transition: all 100ms ease-in-out;
  color: rgb(194 137 229);
}

div.container.text-center.max-min {
  padding-left: 0px;
}
