.container.main {
  font-family: "Roboto Mono", monospace;
  background: rgb(213, 222, 245);
  border: 1px solid rgb(133, 148, 228);
  border-radius: 10px;
  padding: 30px;
  margin: 50px 50px 5px 50px;
}
#city-input {
  border-radius: 50px;
}
.city-info {
  list-style-type: none;
  text-align: right;
}
#city {
  color: rgb(0, 0, 0);
  font-size: 38px;
  font-weight: 500;
}
.emoji {
  font-size: 70px;
}
#description {
  text-transform: capitalize;
}
.weather-properties {
  list-style-type: none;
  text-align: start;
}
.temperature {
  font-size: 30px;
  font-weight: bold;
}
.units {
  font-size: 26px;
  font-weight: bold;
}
#celsius-link.active {
  cursor: default;
}
#celsius-link.active:hover {
  color: rgb(85, 133, 181);
}
#fahrenheit-link.active {
  cursor: default;
}
#fahrenheit-link.active:hover {
  color: rgb(85, 133, 181);
}

#celsius-link,
#fahrenheit-link,
#source-code {
  color: rgb(85, 133, 181);
  text-decoration: none;
}
#celsius-link:hover,
#fahrenheit-link:hover,
#source-code:hover {
  transition: all 100ms ease-in-out;
  color: rgb(10, 88, 202);
}
.creator {
  padding-left: 50px;
}
